<div class="card">
    <div class="card-header text-white bg-inverse">
        <i class="fa fa-calendar-o mr" aria-hidden="true"></i><strong>Important Dates</strong>
    </div>
    <div class="card-block bg-faded">

	<!-- use <del> for extended deadlines -->
        <ul class="list-group list-group-flush">
	<li class="list-group-item bg-faded text-muted">Abstract deadline (<b>extended</b>): <s>May 16, 2025</s> <b>June 6, 2025</b></li>
	<li class="list-group-item bg-faded text-muted">Submission deadline (<b>extended</b>): <s>May 23, 2025</s> <b>June 6, 2025</b></li>
	<li class="list-group-item bg-faded text-muted">Paper notification: <s>June 20, 2025</s> <b>July 14, 2025</b></li>
  <li class="list-group-item bg-faded text-muted">Poster abstract submission deadline: <b>July 25, 2025</b></li>
  <li class="list-group-item bg-faded text-muted">Poster notification: <b>August 8, 2025</b></li>
	<!-- <li class="list-group-item bg-faded text-muted">Camera-ready version: TBD</li> -->
        </ul>
    </div>
</div>
